.total-results {
  color: #545454;
  margin-bottom: 2rem;
}

.result-item {
  display: flex;
  margin-bottom: 4rem;
  text-decoration: none;
  color: #223323;
}

.result-item .poster {
  flex-shrink: 0;
  width: 35%;
}

.result-item .details {
  padding-left: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.result-item .title-container {
  align-items: center;
  display: flex;
  align-items: center;
}

.result-item .title {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem auto 0.75rem 0;
}

.result-item .title:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease-out;
  margin-top: 0.15rem;
}

.result-item .year {
  white-space: nowrap;
  padding-left: 1rem;
  font-size: 1.2rem;
  margin: 0;
}

.result-item .stars {
  margin-bottom: 0.5rem;
}

.result-item .overview {
  display: none;
  line-height: 1.5rem;
}

.result-item .genre-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.result-item .genre {
  display: inline-block;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.15rem 0.25rem;
  color: #fff;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.pagination-text {
  font-weight: bold;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

.pagination-icon {
  height: 24px;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
}

.result-item .genre:nth-child(n + 4) {
  display: none;
}

.result-item:hover .image {
  box-shadow: 0 6px 12px rgba(43, 38, 88, 0.5);
}

.result-item:hover .title:after {
  background: #223323;
}

@media screen and (min-width: 600px) {
  .result-item .poster {
    width: 25%;
  }
  .result-item .details {
    width: 75%;
  }

  .result-item .genre-container {
    margin-top: auto;
  }

  .result-item .genre:nth-child(n + 4) {
    display: inline-block;
  }
}

@media screen and (min-width: 480px) {
  .result-item .overview {
    display: block;
  }

  .result-item .genre-container {
    margin-top: auto;
  }
}
